@import url("https://fonts.googleapis.com/css?family=Lora:300,400,700|PT++Mono");
:root{
    --base-color : lightcoral;
    --background-color : #fff;
}
body{
    background-color: var(--base-color);
    font-size: 1em;
    font-family: Lora, Sans-Serif;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#conteudo{
    width: 400px;
    height: 500px;
    margin: 100px auto;
    box-shadow: -5px 5px 10px 0.5px;
    border-radius: 20px;
    background-color: var(--background-color);
}
#cabecalho{
    text-align: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.6em;
    font-weight: normal;
    background: #f1f1f1;
}
#valor{
    padding-left: 35px;
    width: 100px;
    background: url("../bill.svg") no-repeat;
    background-position: 3px;
}
.inputs{
    padding: 3px;
    border: 1px solid #000;
}
.inputs:focus{
    border: 1px solid var(--base-color);
    outline: none;
}
#calcular{
    padding: 15px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    border-radius: 15px;
    color: #fff;
    border: 1px solid #B22222;
    background: #D2691E;
}
#calcular:hover{
    border: 2px solid #b22222;
}
#people{
    padding-left: 35px;
    width: 50px;
    background: url("../peoples.svg") no-repeat left;
    background-position-x: 3px;
}
#totalTip{
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}
p{
    text-align: center;
}